<h1>Bem Vindo ao Git do Breno!</h1>
<div class="grid-duas-colunas">
  <div class="linhaUmEsquerda">
    <div class="circulo item1">
      <img src="../../../assets/procurar.png">
    </div>
  </div>
  <div class="linhaUmDireita">
    <h2>Veja as principais informações de qualquer perfil do GitHub de uma forma rápida e fácil.</h2>
    <h4>Aqui você consegue ver:</h4>
    <h5> <i class="fa fa-users blue" aria-hidden="true"></i> Seguidores</h5>
    <h5> <i class="fa fa-connectdevelop" aria-hidden="true"></i> Seguindo</h5>
    <h5> <i class="fa fa-user" aria-hidden="true"></i> Repositórios</h5>
  </div>
</div>

<div class="grid-duas-colunas">
  <div class="linhaDoisEsquerda">
    <h3>No <b>GIT DO BRENO</b>  é possível também consultar todos os repositórios de qualquer perfil que exista no GitHub!</h3>
    <button class="btn" [routerLink]="['/consultarRepositorio']">CONSULTE AGORA</button>
  </div>
  <div class="linhaDoisDireita">
    <div class="repositorio">
      <img src="../../../assets/git.png">
    </div>
  </div>
</div>