<header>
    
  <label class="hamburger" for="nav-toggle"></label>
  <input id="nav-toggle" type="checkbox" class="hidden" />
  <!-- <nav>
    <ul [ngStyle]="{'height': altura}">      -->       
        <!-- <button [ngStyle]="{'display': displayH}" class="hamburger" (click)="expandir($event)" >&#9776;</button>
        <button [ngStyle]="{'display': displayC}" class="fechar"    (click)="fechar($event)">X</button> -->
 <!-- 
        <li><img src="../../../assets/logoGitDoBreno.png" class="logo-menu"  [routerLink]="['/home']"></li>
        <li [ngStyle]="{'display': displayM}"><a [routerLink]="['/consultarRepositorio']">REPOSITÓRIO</a></li>
        <li [ngStyle]="{'display': displayM}"><a [routerLink]="['/consultarPerfil']">PERFIL</a></li>
        <li [ngStyle]="{'display': displayM}"><a [routerLink]="['/home']">HOME</a></li>
    </ul>
</nav> -->

<nav>
    <ul>            
        <li><img src="../../../assets/logoGitDoBreno.png" class="logo-menu"  [routerLink]="['/home']"></li>
        <li><a [routerLink]="['/consultarRepositorio']">REPOSITÓRIO</a></li>
        <li><a [routerLink]="['/consultarPerfil']">PERFIL</a></li>
        <li><a [routerLink]="['/home']">HOME</a></li>
    </ul>
</nav>
</header>